/* Title Styling */
.main-title {
    font-size: 3rem;
    margin-top: 5rem;
    text-shadow: 2px 2px #FF006D, 4px 4px #01BEFE;
}

.sub-text {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #8F00FF;
    text-shadow: 1px 1px #000;
}

/* Menu Hover Animation */
.menu a {
    position: relative;
}

.menu a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #01BEFE;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.menu a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
